<p>login works!</p>
<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email" />
    <div *ngIf="f.email.touched && f.email.invalid">
      <small *ngIf="f.email.errors?.['required']">Email is required</small>
      <small *ngIf="f.email.errors?.['email']">Invalid email format</small>
    </div>
  </div>

  <div>
    <label for="password">Password:</label>
    <input id="password" formControlName="password" type="password" />
    <div *ngIf="f.password.touched && f.password.invalid">
      <small *ngIf="f.password.errors?.['required']">Password is required</small>
      <small *ngIf="f.password.errors?.['minlength']">Password must be at least 6 characters</small>
    </div>
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Login</button>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>
</form>

<button (click)="onSignup()">Don't have an account? Sign up</button>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>