/* import {
  Component,
  OnInit
}

from '@angular/core';

import {
  AuthService
}

from '../../auth/auth.service';

import {
  Router
}

from '@angular/router';

import {
  DatabaseService
}

from '../../db/db.service';

import {
  CommonModule
}

from '@angular/common';


@Component({

  selector: 'app-home',
  imports: [CommonModule],
  templateUrl: './home.component.html',
  styleUrl: './home.component.css',
}) export class HomeComponent implements OnInit {

  constructor(private authService: AuthService,
    private router: Router,
    public dbService: DatabaseService) {}

  ngOnInit() {
    this.authService.checkAuthState().subscribe((isAuthenticated)=> {
        if ( !isAuthenticated) {
          this.router.navigate(['/login']);
        }
      });
  }

  onLogout() {
    this.authService.logout().then(()=> {
        this.router.navigate(['/login']);
      });
  }

  getTask(): void {
    console.log("Get all....") console.log(this.dbService.getTasks());
    console.log("Get all Done!!")
  }

  addTask(): void {
    console.log("adding task....") console.log(this.dbService.addTask()) console.log("task added!!")
  }

  deleteTask(): void {
    console.log("deleting task....") console.log(this.dbService.deleteTask('abc')) console.log("task deleted!")
  }

} */