<p>home works!</p>
  <h1>Expense Tracker </h1>
  
  <!-- <div class="balance">
    <h2>Your Balance</h2>
    <h3>
      R {{totalIncome - totalExpense}}
    </h3>
  </div>
  
  <div class="total-container">
    <div class="expense-box total-box">
      <span> Total expense </span>
      <p>R {{totalExpense}} </p>
    </div>
    <div class="income-box total-box">
      <span> Total income </span>
      <p>
        R {{totalIncome}}
      </p>
    </div>
  </div> -->

  <app-tasks-view></app-tasks-view>
  

  <h2>asd</h2>

